{% extends 'layouts/base.twig' %}

{% block header %}
    {% if login %}
        ようこそ{{ member_name }}様
        <a href='../member_login/member_logout.php'>ログアウト</a><br>
        <br>
    {% else %}
        ようこそゲスト様
        <a href="../member_login/member_login.html">会員ログイン</a><br>
        <br>
    {% endif %}
{% endblock %}

{% block content %}
<p>{{ message|nl2br }}</p>
<a href="{{ link }}">{{ link_text }}</a>
{% endblock %}